* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}
/* common */
.ms_padding_fixed_element {
    padding-top: 100px;
}
.ms_h-100 {
    height: 100%;
}
.ms_h-50 {
    height: 50%;
}
.ms_my-red {
    background-color: red !important;
    color: white !important;
}
.ms_my-blue {
    background-color: blue !important;
    color: white !important;
} 
.ms_img-row {
    width: 90%;
}
.ms_rounder_img {
    padding: 5px;
    border-radius: 20px !important;
}
/* /common */
/* nav  */
nav {
    position: fixed;
    width: 100%;
}
.ms_nav_logo {
    background-color: black;
}
.ms_nav_logo svg {
    height: 16px;
}
.ms_logo_dimension {
    height: 50px;
    width: 300px;
}
.ms_h-55 {
    height: 55%;
}
.ms_h-45 {
    height: 45%;
}
/* /nav  */
/* main */
/* jumbotron */
.ms_jumbotron{
    background-image: url("../img/jumbo-bg.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    /* the position relative goes over my fixed element coming after it so i had to put a negative index */
    z-index: -1;
}
/* /jumbotron */
.ms_ps5-width {
    width: 100%;
}
/* /main */
/* footer */
/* /footer */
/* end of cascade  */
/* hover  */
.ms_img-hover:hover .ms_rounder_img {
    border: 2px solid blue;
}
/* /hover  */
/* /end of cascade  */